# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
.venv/

# VS Code settings
.vscode/

# Environment variables
*.env

# OS files
.DS_Store
Thumbs.db

# PyCharm / other IDEs
.idea/

# Logs and cache
*.log
*.sqlite3
